.DS_Store
/api/node_modules
/site/node_modules
/site3/node_modules
/site/dist
/dist
/api/logging
/api/data/mongo
/api/wikipedia copy

# local env files
site/.env.local
site/.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# config files
local.json
/temp
/_site
/_site-save
api/__node_modules

/data/wiki-images
_backup
api/data/__mongo
# Editor directories and files
workspace.xml
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.map
api.old

